.sidebar{
    width:25%;
    padding:0px;
    display:flex;
    flex-direction: column;
    margin-top:0px;
    align-items: center;
    font-size : 1.5rem;
}

.sidebar h3{
  width:100%;
  margin-top:5px;
  text-align: center;
  color:black;
}

.linkk{
 width:80%;
}

.linkk h5{
 text-align: center;
 padding:5px;
 border-bottom: 1px solid black;
}

.linkk h5:hover{
    border-left : 3px solid black;
    cursor:pointer;
    
}


@media (max-width:1200px){
    .sidebar{
        width:100%;
        padding:0px;
        display:flex;
        flex-direction: column;
        margin-top:0px;
        align-items: center;
        font-size : 1.5rem;
    }

    
}
