.post{
    border:1px solid lightblue;
    border-radius : 10px;
}

.post-image{
    width:100%;
    border-radius:10px 10px 0 0
}

.post-info{
  display: flex;
  border-radius : 0 0 10px 10px;
  flex-direction: column;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  color:black
}

.post-catgs{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  width:90%;
}

.postcat{
  font-size:20px;
}

.posttitle{
  font-size:40px;
}

.postdes{
 font-size : 20px;
}

