.write{
    padding-top:40px;
    
}

.writeform{
    position: relative;
}

.writeformgroup{
    box-sizing: border-box;
    display:flex;
    align-items: center;
    width:100%;
    margin-bottom : 50px;
  }
.writeinput{
  background-color: whitesmoke;
  width:30%;
  border:none;
  outline:none;
  margin-top:0px;
  font-size : 30px;
  margin-left: 20px;
  
}
.submitbutton{
  position : absolute;
  right:10px;
  top:3px;
  width:100px;
  height:30px;
  border-radius: 5px;
  color:whitesmoke;
  background-color: teal;
  border:none;
  cursor: pointer;


}
.writeicon{
 width:40px !important;
 height:40px !important;
 margin-left: 20px !important;
}

textarea{
  box-sizing: border-box;
  width:90%;
  margin-left:5%;
  height:500px;
  padding:10px;
  border:none;
  font-size: 30px;
  background-color: whitesmoke;
}